@charset "utf-8";

$primary: #5b86ff;

@import "../../node_modules/bulma/bulma.sass";

$bg-dark: #262626;

:root {
  font-size: 16px;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

html {
  box-sizing: normal !important;
}

body, html, .App, #root {
  background-color: $bg-dark;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.typ-main {
  margin-left: 6rem;
  padding: 0rem;
  height: 100vh;
  overflow: scroll;
}

.typ-navbar {
  position: fixed;
  width: 6rem;
  height: 100vh;
  overflow: hidden;
}

.typ-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.typ-navbar-logo {
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 0rem;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.typ-navbar-item {
  width: 100%;
}

.typ-navbar-item:last-child {
  margin-top: auto;
}

.typ-navbar-item-link {
  height: 6rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 600ms;
  filter: grayscale(100%) opacity(0.7);
}

.typ-navbar-item-link svg {
  min-width: 3rem;
  margin: 0 1.5rem;
}

.typ-navbar-item-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141414;
  color: #5b86ff;
}

.file-cta, .file-name, .input, .select select, .textarea {
  height: 3em;
}

.input, .select select, .textarea, .input:hover {
  background-color: #000;
  border-color: #000;
  color: #ddd;
}

::placeholder {
  color: gray !important;
}
.card:hover {
  cursor: pointer;
}

.dropdown-item:hover, a.dropdown-item:hover, button.dropdown-item:hover {
  background-color: #000;
}

.menu-list a:hover {
  background-color: #000;
  color: #ffff;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.banner {
  height: 360px;
  width: 100%;
}

.bot-body {
  padding: 5%;
  margin-top: -125px;
  padding-top: 0;
}

.input:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered, .select select:hover, .textarea:hover {
  border: 0;
}

.typ-body {
  padding: 5rem;
}

.typ-navbar-dropdown {
  margin-bottom: 25px;
}

@media (width: 1440px) {
  .column.is-one-quarter-fullhd {
    width: 33.3333%;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }
  .image.is-256x256 {
    height: 180px;
    width: 180px;
  }
  .bot-body {
    margin-top: -125px;
    padding-left: 20px;
    padding-right: 20px;
  }

  body, html, .App, #root {
    height: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .navbar-brand, .navbar-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-burger {
    margin-left: calc(100% - 34px);
    cursor: pointer;
  }


  .nb {
    margin-left: calc(100% - 56px);
    cursor: pointer;
  }

  .navbar-menu {
    background-color: #000000;
  }

  .navbar-item, .navbar-link {
    color: #ddd;
    padding-left: 0;
  }

  .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: transparent;
  }

  .columns {
    margin-left: 0;
    margin-right: 0;
  }

  .column {
    padding: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}


// Small Screens
@media only screen and (max-width: 600px) {
  .typ-navbar {
    bottom: 0;
    width: 100vw;
    height: 6rem;
    z-index: 2;
  }
  .typ-navbar-item:last-child {
    margin-top: 0;
  }
  .typ-navbar-dropdown {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }
  .typ-navbar-logo {
    display: none;
  }
  .typ-navbar-nav {
    flex-direction: row;
  }
  .typ-navbar-item-link {
    justify-content: center;
  }
  .typ-main {
    margin: 0;
    height: auto;
  }
  .typ-body {
    padding: 2rem;
    margin-bottom: 6rem;
  }
}
strong {
  color: #fff !important;
}